.header__lang-link {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    opacity: 1;
    transition: opacity 0.4s ease;
}

.header__lang-link:hover{
    opacity: 0.8;
}