@font-face {
    font-family:'Inter';
    src: local('Inter'),
    url(/fonts/Inter-V.ttf);
    font-weight: 900px ;
    font-style: normal;
}
@font-face {
    font-family:'Inter';
    src: local('Inter'),
    url(/fonts/Inter-V.ttf);
    font-weight: 700px ;
    font-style: normal;
}
@font-face {
    font-family:'Inter';
    src: local('Inter'),
    url(/fonts/Inter-V.ttf);
    font-weight: 400px ;
    font-style: normal;
}