.footer__copyright {
    margin: 0;
    padding: 0;
    margin-left: auto;
    min-width: 186px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

@media screen and (max-width:320px) {
    .footer__copyright {
        margin-top: 48px;
    }
}