.cover__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    max-width: 560px;
    text-align: center;
    max-height: 152px;
    color: #FFFFFF;
    align-self: center;
}

@media screen and (max-width:320px) {
    .cover__title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        text-align: center;
        color: #FFFFFF;
        max-width: 288px;
        max-height: 70px;
    }
}