.place:first-child {
    margin: 0;
    padding: 0;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "title website"
        "image paragraph"
        "image paragraph";
}

.place {
    margin: 0;
    margin-top: 80px;
    padding: 0;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "title website"
        "image paragraph"
        "image paragraph";
}

@media screen and (max-width:768px) {
    .place {
        margin-top: 73px;
        max-height: 581px;
        gap: 28px;
    }

    .place:first-child {
        gap: 28px;
    }
}

@media screen and (max-width:320px) {
    .place {
        margin-top: 50px;
        gap: 32px;
        max-height: 1042px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "title"
            "website"
            "image"
            "paragraph-top"
            "paragraph-bottom";
    }

    .place:first-child {
        gap: 32px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "title"
            "website"
            "image"
            "paragraph"
            "paragraph";
    }
}