.place__paragraph-bottom{
    margin:0;
    padding:0;
    max-width:484px;
    max-height:203px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
}